/.gradle/*
/build/*
/eclipse/*
/out/*
/asm/*
/bin/*
/libs/*
/deps/*
/run/*
/test/*
/.settings/*
*.psd
*.iml
*.ipr
*.iws
*.psd
*.idea/*
*.db
*.pdn
*.launch
*.classpath
*.project
.factorypath
*.launch
*.xcf
/bin/
/.gradle/
/build/
/tutorials/
/wiki/*
/.apt_generated/
#Test logs
/logs/
