/.gradle/*
/build/*
/eclipse/*
/out/*
/asm/*
/bin/*
/libs/*
/deps/*
/run/*
/.settings/*
*.psd
*.iml
*.ipr
*.iws
*.psd
*.idea/*
*.db
*.pdn
*.launch
*.classpath
*.project
*.launch
*.xcf
/bin/
/.gradle/
/build/
